{% extends "base.html"%}

{% block pageTitle %}

{% endblock pageTitle %}

{% block content%}
    <div class="accordion">
      <center><h2 style="margin-bottom: 37px; ">A TMI from Prinindya</h2></center><br>
        <div class="accordion-item">
          <div class="item-header" id="button1">
            <h1 class="title">Kegiatan selama PJJ</h1>
            <div class="icon1" style="color: white;">&#8595;</div>
            <div class="icon">&#8593;</div>
          
          </div>
          <p class="text" id="body1">
            1. Kuliah <br> 
            2. Rapat <br> 
            3. Kuliah <br> 
            4. Rapat <br> 
            5. Tidur
          </p>
        </div>
  
        <div class="accordion-item">
          <div class="item-header" id="button2">
            <h1 class="title">Pengalaman Organisasi/Kepanitiaan</h1>
            <div class="icon1" id="down2">&#8595;</div>
            <div class="icon" id="up2">&#8593;</div>
          </div>
          <p class="text" id="body2">
            &#10023; Mentor BETIS Fasilkom UI 2020 <br>
            &#10023; HRD Dokumentasi PERAK Fasilkom UI 2020 <br> 
            &#10023; HRD Seminar COMPFEST 2020 <br>
            &#10023; Staff of Tenants UI FASHION WEEK 2020 <br> 
          </p>
        </div>
        <div class="accordion-item">
          <div class="item-header" id="button3">
            <h1 class="title">Things I achieve so far</h1>
            <div class="icon1" id="down3">&#8595;</div>
            <div class="icon" id="up3">&#8593;</div>
          </div>
          <p class="text" id="body3">
            &#x2726; 1st Winner of English Mini Drama Competition 2018 <br>
          </p>
        </div>
      </div>
{% endblock content%}
