{% extends "base.html"%}
{% load static %}

{% block pageTitle %}

{% endblock pageTitle %}

{% block meta %}
<title>Written by, yours truly.</title>
<script type="text/javascript" src="{% static 'js/story8.js' %}"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

{% endblock meta %}

{% block content%}
    <center>
        <div class="header container">
            <h1>Search any books <span class="main-color">here.</span></h1><br>
            <div class="container d-flex">
                <input type="text" class="form-control" name="keyword" id="search-box" placeholder="&nbsp;write the title">&nbsp;&nbsp;
                <button class="btn btn-success" id="search-button">Search</button>
            </div>
        </div><br><br><br>
    </center>
        <div class="container">
            <table id="main-table" style="display: none">
            <tr>
                <th>Cover</th>
                <th>Title</th>
                <th>Author</th>
                <th>Publish Date</th>
                <th>Publisher</th>
            </tr>
            </table>
        </div><br><br><br>
    <script>
        const get_books_url = "{% url 'story7:getBooks' %}?keyword=";
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<style>
html, body, h1, h2, h3, h4, h5, h6, p , span, i, div, input, button {
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: rgb(252, 247, 239);
    color: black;
}

.container {
    width: 1000px;
    margin: auto;
}

table, tr, td, th {
    border: 2px solid black;
    text-align: center;
}

.book-cover {
    width: 150px;
}
.form-control{
        border-radius:25px;
        border:2px solid lightgray;
        align-items: center;
        box-shadow: 0 0px 10px rgba(85, 85, 85, 0.274);
}
.header{
    margin-top: 90px;
}
.main-color{
    color:#f59c3d!important;
}
#search-button {
    border-radius:40px;
}
</style>
{% endblock content%}