{% extends "base.html"%}
{% load static %}

{% block Title%}
    {{heading}}
{% endblock Title%}

{% block pageTitle %}
<section id="jumbo-index">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <section name="form">
            <div class="container-fluid">
                <div class="container text-white" style="height: 670px;">
                    <h1>Create Agenda</h1>
                    <form method = "POST" action="">
                        {% csrf_token %}
                        {% for a in post_form %}
                            <div class="form-group">
                                {{a.label}}
                                {{a}}
                            </div>
                        {% endfor %}
                        <button class="btn btn-primary" type="Submit">Tambahkan Matakuliah</button>
                    </form>
                </div>
              </div> 
            
        </section>
      </div>
    </div>
</section>
<style>
    #jumbo-index .jumbotron{
        background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("/static/main/background.jpg");
        background-size: cover;
        background-position: center;
        height: 1100px;
        width: 100%;
    }
    .btn {
        padding: 7px 30px;
        margin-right: 30px;
        outline: none;
        border: 1px solid #fb7381;
        border-radius: 20px;
        cursor: pointer;
        color: #fb7381;
        background: transparent;
    }
    #jumbo-index .jumbotron{
        background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("/static/main/background.jpg");
        background-size: cover;
        background-position: center;
        height: 650px;
        width: 100%;
    }
</style>

{% endblock pageTitle %}

