{% extends "base.html"%}
{% load static %}

{% block Title%}
    {{heading}}
{% endblock Title%}

{% block content%}
{% block pageTitle %}
    <section id="jumbo-index">
        <div class="jumbotron jumbotron-fluid">
            <div class="container"> 
                <div class="container-fluid" style="margin-top: 30px;">
                    <div class="container text-white" style="height: 640px;">
                        <h1>List Form</h1>
                        <table class="table">
                            <thead class="table  text-white text-center">
                                <th scope="col">Mata Kuliah</th>
                                <th scope="col">SKS</th>
                                <th scope="col">Ruangan</th>
                                <th scope="col">Pengajar</th>
                                <th scope="col">semester</th>
                                <th scope="col">Keterangan</th>
                                <th scope="col">Hapus</th>
                                <th scope="col">Ubah</th>
                            </thead>
                            <tbody>
                                {% for a in posts %}
                                <tr class="table text-white text-center">
                                    <td> {{a.Mata_Kuliah}} </td>
                                    <td> {{a.SKS}} </td>
                                    <td> {{a.Ruangan}} </td>
                                    <td> {{a.Pengajar}} </td>
                                    <td> {{a.semester}} </td>
                                    <td> {{a.Keterangan}} </td>
                                    <td><a class="btn btn-danger" href="{% url 'story5:delete' a.id %}">Delete</a></td>
                                    <td><a class="btn btn-warning" href="{% url 'story5:update' a.id %}">Update</a></td>
                                </tr> 
                                {% endfor %}
                            </tbody>
                        </table>
                        <a class="btn btn-primary" href="{% url 'story5:create'%}">Add</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

  <style>
    #jumbo-index .jumbotron{
        background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("/static/main/background.jpg");
        background-size: cover;
        background-position: center;
        height: 650px;
        width: 100%;
    }
  </style>
{% endblock pageTitle%}



{% endblock content%}

