{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Written by, yours truly.</title>
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">
{% endblock meta %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">To whom it may concern, </h1>
  <p class="lead">Welcome to lucky-nine! It's a personal website owned by the one and only K! </p>
  <hr class="my-4">
  <p>A little reminder for everyone who read this, you are precious. remember that. </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">sincerely, x.</a>
  </p>
</div>
{% endblock content %}




