{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Shot by yours truly.</title>
<link rel="stylesheet" href="{% static 'main/css/portofolio.css' %}">
{% endblock meta %}


{% block content %}
<h1>Dunia dalam sudut pandang Nadya, A portofolio. </h1>
<div class="gallery">
    <img src="{% static 'main/pantai.JPG' %}">
  <div class="desc">terik, biru, dan laut.</div>
</div>

<div class="gallery">
    <img src="{% static 'main/tanah-lot.JPG' %}">
  <div class="desc">sawarsana</div>
</div>

<div class="gallery">
    <img src="{% static 'main/senja.JPG' %}">
  <div class="desc">jingga merana</div>
</div>

<div class="gallery">
    <img src="{% static 'main/gigs.JPG' %}">
  <div class="desc">gitar, penonton, suara.</div>
</div>

{% endblock content %}

{% block tambahan %}

{% endblock tambahan %}
