{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title> Tentang Saya</title>
<link rel="stylesheet" href="{% static 'main/css/profile.css' %}">
{% endblock meta %}

{% block pagelain %}
  <a href="{% url 'main:home'%}"> Take me to the homepage! </a>
  <a href="{% url 'main:portofolio'%}"> Dunia dalam sudut pandang Nadya </a>
{% endblock pagelain %}


{% block content %}
<div class="identitas">
    <img src="{% static 'main/profile.jpg' %}">
    <table class="tableidentitas">
        <tr>
            <td>Nama:</td>
            <td>Prinindya Aisha Sumari</td>
        </tr>
        <tr>
            <td>NPM:</td>
            <td>1906399165</td>
        </tr>
        <tr>
            <td>Angkatan:</td>
            <td>2019</td>
        </tr>
        <tr>
            <td>Tentang Saya:</td>
            <td>Mahasiswi jurusan Sistem Informasi yang gemar sekali mengabadikan bumi dan segala di dalamnya.</td>
        </tr>
    </table>
</div>
<table class="tablependidikan">
    <tr>
        <th colspan="2">Riwayat Pendidikan</th>
    </tr>
    <tr>
        <th>Institusi</th>
        <th>Tahun</th>
    </tr>
    <tr>
        <td>Universitas Indonesia
        </td>
        <td>2019 - Sekarang</td>
    </tr>
    <tr>
        <td>SMAN 1 Kota Cirebon</td>
        <td>2016 - 2019</td>
    </tr>
    <tr>
        <td>SMPN 1 Kota Cirebon</td>
        <td>2013 - 2016</td>
    </tr>
</table>
<div class="social">
    <a class="icon" href="https://www.linkedin.com/in/prinindyaaisha"><img src="{% static 'main/twitter.png' %}"></a>
    <a class="icon" href="https://www.instagram.com/pepromenee/"><img src="{% static 'main/instagram.png' %}"></a>
</div>
{% endblock content %}
