{% extends "base.html" %}
{% load static %}

{% block Title%}
Hello Abroad!
{% endblock Title%}

{% block content%}
  <center>
    <div class="container" style="margin-top: 230px;">
        <h1>Welcome back, <span class="main-color" style="color: rgb(252, 26, 132)">{{user.username}}</span>❤️</h1><br>
        <button type="button" class="btn btn-success"><a style="color: white;" href="{% url 'story9:logout' %}">Logout</a></button>
    </div>
  </center>
{% endblock content%}