{% extends "base.html" %}
{% load static %}

{% block Title%}
Hi!
{% endblock Title%}

{% block content%}
  <center>
    <div class="container" style="margin-top: 230px;">
      <h1 >Welcome Home 🔮</h1><br>
        <button type="button" class="btn btn-success"><a style="color: white;" href="{% url 'story9:login_url' %}">Login</a></button>
        <button type="button" class="btn btn-info"><a style="color: white;" href="{% url 'story9:register_url' %}">Register</a></button>
    </div>
  </center>
{% endblock content%}
