{% extends "base.html" %}
{% load static %}

{% block Title%}
Register here
{% endblock Title%}

{% block content%}
<div class="container-fluid" style="margin-bottom: 100px;">
  <div class="row justify-content-center" >
      <div class= "col-15 col-sm-10 col-md-3">
          <form class="form-container" method="POST" action="">
            <h5 class="display-5 text-center">REGISTER</h5>
              {% csrf_token %}
              <div class="form-group">
                 {% for a in form %}
                    {{a.label}}
                    {{a}}
                 {% endfor %}
              </div>
              <div class="form-group">
                 Already have account? Click<a href="{% url 'story9:login_url'%}"> here </a>to log in
             </div>
            <button type="submit" class="btn btn-block" style="background-color: maroon; color: white;">Register</button>
          </form>
          
        </div>
      </div>
  </div>   
  <style>
    .form-container{
        position:absolute;
        top: 23vh;
        background: #eebbb9;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px #000;
    }
    .form-control {
        border-radius: 30px;
    }
    .card{
        top: 23vh;
        background: rgb(255, 244, 92);
        padding: 60px;
        margin-right: 30px;
        margin-left: 10px;
        margin-bottom: 40px;
        border-radius: 5px;
    }
    .btn{
        left: 1000px;
    }
  </style>
{% endblock content%}

