* {
    color: blue;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
}

body {
    background: #d7eef5;
    font-size: 20px;
}

.jumbotron{
    text-align: center;
    background-color: #d7eef5 !important ;
    margin-bottom: 0;
    padding: 7rem 5rem;
}
