* {
    color: blue;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

body {
    background: #49a79f;
    font-size: 20px;
}

.gallery {
  margin: 50px;
  border: 10px solid #ccc;
  float: left;
  width: 180px;
}

.gallery:hover {
  border: 10px solid #777;
  height: 5px;
}

.gallery img {
    width: auto;
    height: 400px;
}

.desc {
  padding: 50px;
  text-align: center;
}
h1 {
  text-align: left;
  font-family: "Nunito", sans-serif;
}